.card {
  display: grid;
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.godCard {
  position: relative;
  color: var(--font-secondary);
  text-transform: uppercase;
  text-decoration: none;
  max-width: 150px;
  padding: none;
  box-shadow: var(--box-shadow);
}

.godCard h3 {
  text-align: center;
}

.godCard svg {
  // need to figure out how to change color of actual svg
  background-color: transparent;
  position: absolute;
  bottom: 2em;
}

.lowerFrame {
  // background-image: url("/lowerFrame.svg");
  // background-repeat: no-repeat;
  position: relative;
  // top: -3rem;
  display: flex;
  max-width: 150px;
  justify-content: space-between;
}

.lowerFrame img {
  position: absolute;
  top: -4em;
  padding: 0.5em;

  background-color: var(--tertiary-color);
  border-radius: 100%;
}

.lowerFrame p {
  padding: 0 1em 1em 1em;
  font-size: 12px;
}

.pantheon img {
  right: 0em;
}

// fixes cthuhlus multi word pantheon, but breaks the images, need to come back to fix those
// .pantheon p {
//   max-width: 60px;
//   word-spacing: 5rem;
//   overflow-wrap: break-word;
// }
