.card {
  display: grid;
  background-color: black;
  border: 2px solid gold;
  border-radius: 5px;
}

.godCard {
  position: relative;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: none;
}

.godCard h3 {
  text-align: center;
}

.godCard svg {
  background-color: transparent;
  position: absolute;
  bottom: 2em;
}

.lowerFrame {
  // background-image: url("/lowerFrame.svg");
  // background-repeat: no-repeat;
  position: relative;
  // top: -3rem;
  display: flex;
  justify-content: space-between;
}

.lowerFrame img {
  position: absolute;
  top: -4em;
  padding: 0.5em;

  background-color: black;
  border-radius: 100%;
}

.lowerFrame p {
  padding: 0 1em 1em 1em;
}

.pantheon img {
  right: 0em;
}

// fixes cthuhlus multi word pantheon, but breaks the images, need to come back to fix those
// .pantheon p {
//   max-width: 60px;
//   word-spacing: 5rem;
//   overflow-wrap: break-word;
// }
