.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1em;
}

.search {
  position: relative;
  display: grid;
  margin: auto;
  padding: 1em;
  text-align: center;
  z-index: 1;
}

.search form button {
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.search span {
  display: flex;
  gap: 2px;
  margin: auto;
}

.search input {
  background: var(--tertiary-color);
  color: var(--font-secondary);
  padding: 3px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
}

.search input:focus {
  box-shadow: 0 0 15px gold;
}

.search button {
  background: var(--tertiary-color);
  color: var(--font-secondary);
  padding: 0 0.5em;
  position: relative;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

.search button::after,
.search input::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: var(--gold-gradient);
  content: "";
  z-index: -1;
  border-radius: 8px;
}

.itemsContainer {
  text-align: center;
  padding: 1em;
  color: white;
}

.itemsContainer h2,
.itemsContainer h3 {
  margin: 0.6em;
}
