.card {
  display: grid;
  background-color: black;
  border: 2px solid red;
  border-radius: 5px;
}

.godCard {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.godCard h3 {
  text-align: center;
}

.lowerFrame {
  background: url("/lowerframe.svg");
  // background-image: url("/pantheon_icons/Hindu.webp");
  position: relative;
  display: flex;
  justify-content: space-between;
  // border: 40px solid;
  // // border-image: linear-gradient(red, blue) 27;
  // border-image-source: url("/lowerFrame.svg");
  // border-image-slice: 1;
  // border-width: 1em;
}

.lowerFrame img {
  position: absolute;
  top: -3em;
  padding: 0.5em;

  background-color: black;
  border-radius: 100%;
}

.lowerFrame p {
  padding: 0.5em 1em 0 1em;
}

.pantheon img {
  right: 0em;
}
