.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1em;
}

.search {
  display: grid;
  margin: auto;
  padding: 1em;
}

.search span {
  display: flex;
  gap: 2px;
}

.search input {
  border: 3px solid;
  border-image-source: var(--gold-gradient);
  border-image-slice: 1;
}

.itemsContainer {
  // text-align: center;
  color: white;
}
