.godPage {
  padding-top: -2em;
}

.godHeader {
  display: flex;
  // margin-top: 2em;
  // padding: 0.5em 0;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-image-source: var(--gold-gradient);
  border-image-slice: 500;
  background-color: var(--tertiary-color);
  justify-content: space-around;
  // gap: 1em;
}

.godHeader button {
  border: none;
  padding: 0.5em 0 !important;
  flex-grow: 1;
  background-color: var(--tertiary-color);
  color: white;
  text-decoration: underline;
  font-size: 1.1em;
}

.godHeader button:hover {
  background-color: rgb(10, 36, 73);
}

button.active {
  background-color: rgb(12, 45, 90);
}

.godInfo {
  display: grid;
  color: var(--font-secondary);
  margin: 1rem;
}

.overviewContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.overviewContainer div p a {
  text-decoration: none;
  color: var(--font-link);
}

.lore {
  margin: 1rem 0;
}

.titleCard {
  text-align: center;
}

.titleCard h3 {
  text-decoration: underline;
}

.titleCard img {
  margin-top: 1rem;
}

.godType {
  display: flex;
  justify-content: space-around;
}

.godType div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abilitiesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-top: 2px solid var(--primary-color);
}

.ability {
  padding: 1em;
  border: 1px solid var(--tertiary-color);
}

.skinContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

.skinCard {
  border: 2px solid var(--tertiary-color);
  border-radius: 4px;
  text-align: center;
  padding: 0.2em 0;
}
.skinCard h3 {
  text-decoration: underline var(--tertiary-color) 3px;
}

.skinCard span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

@media (max-width: 900px) {
  .overviewContainer {
    display: flex;
    // grid-template-columns: 2fr 1fr;
  }
}
