.itemPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--font-secondary);
}

.itemMain {
  margin: 0 1em 0 1em;
}

.itemSideCard {
  border-left: 2px solid grey;
  text-align: center;
}

.itemCardBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}

.itemSideTitles {
  display: grid;
  border-right: 2px solid grey;
}

.itemBottomStats {
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
}

.itemBottomNoStats {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.itemSideTitles p {
  align-self: center;
}

.itemSideInfo {
  display: grid;
  margin-left: 1em;
}

.itemSideInfo p {
  align-self: center;
}

.itemSideInfo div {
  align-self: center;
}

.stats div {
  margin: 0.5em 0 0.5em 0;
}

.stats p {
  margin: 0;
  font-size: 80%;
}
