.itemPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--font-secondary);
}

.itemMain {
  margin: 0 1em;
}

.itemMain p {
  margin: 1em 0;
  white-space: pre-line;
}

.itemMain p a {
  text-decoration: none;
  color: var(--font-link);
}

.itemSideCard {
  border-left: 2px solid grey;
  text-align: center;
}

.itemSideCard h2 {
  margin: 0.5em 0;
}

.itemCardBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em;
}

.itemSideTitles {
  display: grid;
  border-right: 2px solid grey;
}

.itemConsumable {
  grid-template-rows: 1.5fr 1.5fr 1.5fr;
}

.itemRelic {
  grid-template-rows: 1fr 1fr 1fr 1.5fr;
}

.itemPassive {
  grid-template-rows: 1fr 1fr 1fr 1.5fr 2fr;
}

.itemEvolved {
  grid-template-rows: 1fr 1fr 1.5fr 2fr;
}

.itemSideTitles p {
  margin: 0.5em 0;
  align-self: center;
}

.itemSideInfo {
  display: grid;
  margin-left: 0.5em;
}

.itemSideInfo p {
  margin: 0.5em 0;
  align-self: center;
}

.itemSideInfo div {
  align-self: center;
}

.stats div {
  margin: 0.5em 0;
}

.stats p {
  margin: 0;
  font-size: 80%;
}
