// HEADER
.headerContainer {
  position: fixed;
  top: 0;
  z-index: 10;
  width: var(--max-width);
  display: flex;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  padding: 1.5em;
  height: 7em;
  color: var(--font-secondary);
}

.logoContainer {
  text-decoration: none;
}

.logo {
  border-bottom: 3px solid;
  border-image-source: var(--gold-gradient);
  border-image-slice: 20;
  color: var(--font-secondary);
}

.navContainer {
  display: flex;
  gap: 2em;
  // padding-right: 1em;
}

.navContainer a {
  color: var(--font-secondary);
  font-size: 1.5em;
  margin: auto;
  padding: 0 0.5em;
  // border-bottom: 2px solid var(--primary-color);
  border-bottom: 2px solid;
  border-image-source: var(--gold-gradient);
  border-image-slice: 20;
  text-decoration: none;
}

// FOOTER
.footerContainer {
  position: absolute;
  bottom: 0;
  width: var(--max-width);
  height: 7em;
  background-color: var(--tertiary-color);
  color: var(--font-secondary);
  text-align: center;
  padding: 1em;
}

.footerContainer span {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.footerContainer p {
  margin: 5px;
}
