// HEADER
.headerContainer {
  position: fixed;
  top: 0;
  z-index: 10;
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: 1.5em;
  height: var(--web-header-height);
  color: var(--font-secondary);
  flex-wrap: wrap;
}

.logoContainer {
  text-decoration: none;
}

.logo {
  border-bottom: 3px solid;
  border-image-source: var(--gold-gradient);
  border-image-slice: 20;
  color: var(--font-secondary);
}

.searchNav {
  display: flex;
  column-gap: 5em;
}

.navContainer {
  display: flex;
  gap: 2em;
}

.navContainer a {
  color: var(--font-secondary);
  font-size: 1.5em;
  margin: auto;
  padding: 0 0.5em;
  border-bottom: 2px solid;
  border-image-source: var(--gold-gradient);
  border-image-slice: 20;
  text-decoration: none;
}

.navContainer a:hover {
  background-color: rgb(12, 45, 90);
  border-radius: 6px;
}

.active {
  border: 2px solid;
}

// FOOTER
.footerContainer {
  position: absolute;
  bottom: 0;
  max-width: var(--max-width);
  height: var(--web-header-height);
  background-color: var(--tertiary-color);
  color: var(--font-secondary);
  text-align: center;
  padding: 1em;
}

.footerContainer span {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.footerContainer p {
  margin: 5px;
}

.portfolioLink {
  color: white;
}

@media (max-width: 900px) {
  .headerContainer {
    height: var(--phone-header-height);
    padding: 0 1.5em;
  }

  .searchNav {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .navContainer {
    display: flex;
    margin-top: auto;
    margin-left: auto;
  }
}

@media (max-width: 650px) {
  .footerContainer span {
    gap: 0.5em;
  }

  .footerContainer {
    height: var(--phone-footer-height);
  }
}
